body{
    font-family: "PT Sans", sans-serif;
}
.banner00 {
    background-color: #FBE4FF;
    width: 1920px;
    height: 65px;
    display: flex;
}

.logo {
    background-color: #243B93;
    width: 500px;
    height: 65px;
    background-image: url("../img/img_лого.png");
    background-repeat: no-repeat;
    background-position-x: 300px;
    background-position-y: center;
}

.logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.header1 {
    background-color: #243B93;
    width: 1020px;
    height: 65px;
}

.langue {
    background-color: #243B93;
    width: 400px;
    height: 65px;
    background-image: url("../img/img_глобус.svg"), url("../img/UA.svg");
    background-repeat: no-repeat, no-repeat;
    background-position-x: 0px, 65px;
    background-position-y: center;
}

.header-list {
    vertical-align: middle;
    height: 65px;
    /* для центр текста по высоте */
    line-height: 65px;
    /* line-height=height для центр текста по высоте */
        display: flex;
        justify-content: space-between;
}



.text11 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: normal;
    /* для центр текста по высоте */
 }

.text1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 11%;
    
   
}

.banner01 {
    background-color: #FBE4FF;
    width: 1920px;
    height: 2800px;
}

.banner2 {
    margin: 0px;
    width: 1920px;
    height: 85px;
    background-color: #BFF0FF;
}

.h1 {
    
    color: #202846;
    font-size: 44px;
    font-style: italic;
    padding-left: 299px;
    padding-top: 20px;
}

.text2 {
    height: 57px;
    width: 1321px;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    font-size: 28px;
    margin-left: 299px;
    margin-top: 25px;
    padding-top: 30px;
    text-align: center;
}

.banner3 {
    width: 1321px;
    height: 300px;
    margin-left: 299px;
    margin-top: 30px;
    background-image: url("../img/бакота.png"), linear-gradient(to right, #ADCBD4, #00AEE5);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 52px, 0px;
    position: relative;
}

.star {
    position: absolute;
    top: 7px;
    left: 1271px;
    width: 30px;
    height: 30px;
    background-image: url("../img/зірка_white.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.banner3:hover .star {
    background-image: url("../img/зірка_yellow.png");
}

.banner4:hover .star {
    background-image: url("../img/зірка_yellow.png");
}

.banner5:hover .star {
    background-image: url("../img/зірка_yellow.png");
}

.banner6:hover .star {
    background-image: url("../img/зірка_yellow.png");
}

.line {
    position: absolute;
    top: 47px;
    left: 531px;
    background-color: white;
    z-index: 1;
    width: 739px;
    height: 2px;
}




.banner3:hover {
    background-image: url("../img/бакота.png"), linear-gradient(to right, #2CBDEB, #2CBDEB);
    box-shadow: 0px 0px 10px 10px #2CBDEB;
}



.banner3-h1 {
    color: #353C57;
    font-size: 36px;
    margin-left: 532px;
    padding-top: 7px;
    font-style: italic;
    font-weight: bold;
    text-transform: capitalize;
}

.banner3-text0 {
    width: 739px;
    height: 205px;
    margin-left: 532px;
    background-color: white;

}

.banner3-text {
    width: 605px;
    height: 112;
    color: #202846;
    background-color: white;
    font-size: 22px;
    padding-top: 11px;
    margin-left: 16px;
}

.banner3-botton {
    width: 210px;
    height: 46px;
    background-color: #243B93;
    color: white;
    text-align: center;
    line-height: 46px;
    border-radius: 30px;
    background-position: center;
    font-size: 24px;
    position: relative;
    top: -21px;
    left: 1165px;
}

.banner3:hover .banner3-botton {
    background-color: #EF075B;
}

.banner4:hover .banner3-botton {
    background-color: #EF075B;
}

.banner5:hover .banner3-botton {
    background-color: #EF075B;
}

.banner6:hover .banner3-botton {
    background-color: #EF075B;
}


.banner4 {
    width: 1321px;
    height: 300px;
    background-image: url("../img/пирлина_карпат.png"), linear-gradient(to right, #ADCBD4, #00AEE5);
    margin-left: 299px;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 52px, 0px;
    position: relative;
}

.banner4:hover {
    background-image: url("../img/пирлина_карпат.png"), linear-gradient(to right, #2CBDEB, #2CBDEB);
    box-shadow: 0px 0px 10px 10px #2CBDEB;
}

.banner5 {
    width: 1321px;
    height: 300px;
    margin-left: 299px;
    margin-top: 30px;
    background-image: url("../img/автентична_київщина.png"), linear-gradient(to right, #ADCBD4, #00AEE5);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 52px, 0px;
    position: relative;
}

.banner5:hover {
    background-image: url("../img/автентична_київщина.png"), linear-gradient(to right, #2CBDEB, #2CBDEB);
    box-shadow: 0px 0px 10px 10px #2CBDEB;
}

.banner6 {
    width: 1321px;
    height: 300px;
    margin-left: 299px;
    margin-top: 30px;
    background-image: url("../img/нетипова_одещина.png"), linear-gradient(to right, #ADCBD4, #00AEE5);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 52px, 0px;
    position: relative;
}

.banner6:hover {
    background-image: url("../img/нетипова_одещина.png"), linear-gradient(to right, #2CBDEB, #2CBDEB);
    box-shadow: 0px 0px 10px 10px #2CBDEB;
}

.banner7 {
    width: 1920px;
    height: 85px;
    margin-top: 39px;
    background-image: linear-gradient(to right, #FFE601, #55D6FF);
}

.banner-cient {
    height: 498px;
    width: 1318px;
    margin-top: 37px;
    margin-left: 299px;
    background-image: linear-gradient(to bottom, #859EFF, #69FFD2);
    position: relative;
}



.banner-exit {
    width: 174px;
    height: 50px;
    background-color: #243B93;
    background-position-x: center;
    margin-top: 30px;
    margin-bottom: 65px;
    margin-left: 873px;
    font-size: 31px;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 30px;
    justify-content: center;
    /*выравнивание текста по центру внутри div*/
}

.banner-exit:hover {
    background-color: #EF075B;
}


.banner8 {
    width: 1920px;
    height: 85px;
    background-image: linear-gradient(to right, #55D6FF, #FFE601);
}

.footer1 {
    background-color: #243B93;
    width: 1920px;
    height: 65px;

}

.footer-text {
    color: white;
    margin-left: 299px;
    font-size: 20px;
    justify-content: center;
    line-height: 65px;
    height: 65px;
}

#fixed-div {
    position: fixed;
    bottom: 50px;
    /* отступ от нижнего края */
    right: 160px;
    /* отступ от правого края */
    width: 100px;
    /* ширина кнопки */
    height: 100px;
    /* высота кнопки */
    background-image: url("../img/кнопка_вверх.svg");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
}
/*стрелочка ведет вверх, но остается справа, если уменьшать экран, как это исправить*/


.client {
    position: absolute;
    width: 196px;
    height: 184px;
    background-image: url("..//img/іконка_user.png");
    background-repeat: no-repeat;
    background-size: cover;
    top: 77px;
    left: 167px;
    z-index: 1;
}

.client-update {
    width: 250px;
    height: 50px;
    background-color: #243B93;
    background-position-x: center;
    margin-top: 296px;
    margin-bottom: 65px;
    margin-left: 148px;
    font-size: 24px;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 30px;
    justify-content: center;
    position: absolute;
}

.client-update:hover {
    background-color: #EF075B;
}

.settings {
    width: 250px;
    height: 50px;
    background-color: #243B93;
    background-position-x: center;
    margin-top: 372px;
    margin-bottom: 65px;
    margin-left: 148px;
    font-size: 24px;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 30px;
    justify-content: center;
    position: absolute;
}

.fio {
    color: #353C57;
    font-size: 36px;
    font-style: italic;
    padding-left: 531px;
    padding-top: 83px;
    font-weight: bold;
}

.line1 {
    position: absolute;
    top: 129px;
    left: 525px;
    background-color: white;
    z-index: 1;
    width: 712px;
    height: 3px;
}

.line2 {
    position: absolute;
    top: 208px;
    left: 531px;
    background-color: white;
    z-index: 1;
    width: 712px;
    height: 3px;
}

.line3 {
    position: absolute;
    top: 293px;
    left: 531px;
    background-color: white;
    z-index: 1;
    width: 712px;
    height: 4px;
}

.line4 {
    position: absolute;
    top: 372px;
    left: 531px;
    background-color: white;
    z-index: 1;
    width: 712px;
    height: 3px;
}

.style0 {
    position: absolute;
    color: #353C57;
    font-size: 34px;
    font-style: italic;
}

.client-text1 {
    padding-left: 539px;
    padding-top: 38px;
    font-weight: bold;
}

.client-text2 {
    padding-left: 539px;
    padding-top: 118px;
    font-weight: bold;
}

.client-text3 {
    padding-left: 539px;
    padding-top: 202px;
    font-weight: bold;
}

.client-text4 {
    padding-left: 539px;
    padding-top: 262px;
    font-weight: bold;
}

.client-text5 {
    padding-left: 679px;
    padding-top: 38px;
}

.client-text6 {
    padding-left: 845px;
    padding-top: 119px;
}

.client-text7 {
    padding-left: 866px;
    padding-top: 204px;
}

.client-text8 {
    padding-left: 756px;
    padding-top: 264px;
}

.contacts {
    height: 343px;
    width: 1920px;
    position: relative;
}

.tel {
    font-size: 32px;
    padding-left: 301px;
    padding-top: 32px;
}

.line01 {
    width: 244px;
    height: 2px;
    background-color: #202846;
    position: absolute;
    left: 300px;
}

.tel-value {
    font-size: 32px;
    padding-left: 301px;
    padding-top: 18px;
}

.address {
    font-size: 32px;
    padding-left: 301px;
    padding-top: 32px;
}

.line02 {
    width: 386px;
    height: 3px;
    background-color: #202846;
    position: absolute;
    left: 300px;
}

.address-value {
    font-size: 32px;
    padding-left: 301px;
    padding-top: 22px;
}

.mail {
    width: 100px;
    height: 15px;
    font-size: 32px;
    padding-left: 301px;
    padding-top: 32px;
    position: absolute;
    top: -2px;
    left: 505px;
}

.line03 {
    width: 244px;
    height: 3px;
    background-color: #202846;
    position: absolute;
    left: 796px;
    top: 67px;
}

.mail-value {
    width: 100px;
    height: 15px;
    font-size: 32px;
    padding-left: 301px;
    padding-top: 42px;
    position: absolute;
    top: 42px;
    left: 500px;
}

.map {
    width: 499px;
    height: 290px;
    border-color: #202846;
    border-style: solid;
    border-width: 4px;
    position: absolute;
    top: 24px;
    left: 1102px;
    border-radius: 40px;
    overflow: hidden;
}

.map-iframe{
    width: 100%;
    height: 100%;
  
}